.content-container {
    margin-bottom: 40px; 
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5rem;        /* reduce padding */
    border: 1px solid #9b8d8d;
    border-radius: 8px;
    background: #393a3b;
    width: fit-content;     /* shrink to content width */
    margin-left: auto;
    margin-right: auto;
}

.member-card img {
    width: 700px;      
    height: 550px;
    object-fit: cover; 
    border-radius: 10px;
    padding: 10px;
}

.member-list {
    padding: 1rem;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .content-container img {
        width: 100%;   /* make sure they span the container */
        max-width: 400px; /* optional cap so they don’t get *too* wide */
    }
}
