.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(197, 41, 41);
}

.site-header h1 {
    margin: 0;
    font-size: 2rem;
}

.site-header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(153, 31, 31);
    font-weight: 500;
}

.site-header nav a:hover {
    text-decoration: underline;
}