#CC > .left-content, .right-content {
    flex: 1;
}

#photoCarousel .carousel-inner {
    height: 800px; /* pick a height that works for your layout */
}

#photoCarousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* keeps images from stretching */
}